<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="/assets/themes/twitter/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/themes/twitter/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/themes/twitter/css/pygments/default.css" rel="stylesheet" type="text/css">
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
            <li><a href="/poetry/">诗文集</a></li>
          </ul>
          <ul class="nav pull-right"><li><a href="/about/">有关我</a></li></ul>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="span7">
        {{ content }}
      </div>
      <div class="span4">
          <div class="well sidebar-nav">
             <ul id="recent_posts" class="nav nav-list">
               <li class="nav-header">最近文章</li>
               {% if page.layout == 'post' %}
                 {% for post in site.related_posts limit:9 %}
                   <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                 {% endfor %}
               {% else %}
                 {% for post in site.posts limit:9 %}
                   <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                 {% endfor %}
               {% endif %}
            </ul>
          </div>
        {% if site.data.linklists.english and site.data.linklists.english.size > 0 %}
        <div class="well sidebar-nav">
          <ul id="linklists_en" class="nav nav-list">
            <li class="nav-header">友情链接(英文)</li>
            {% for link in site.data.linklists.english %}
              <li><a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if site.data.linklists.chinese and site.data.linklists.chinese.size > 0 %}
        <div class="well sidebar-nav">
          <ul id="linklists_cn" class="nav nav-list">
            <li class="nav-header">友情链接(中文)</li>
            {% for link in site.data.linklists.chinese %}
              <li><a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="well sidebar-nav">
          <ul id="booklists" class="nav nav-list">
            <li class="nav-header">我写的技术书籍</li>
            <li><a href='https://item.jd.com/10095123288425.html' target='_blank' rel='noopener'><img src='https://img10.360buyimg.com/n1/jfs/t1/174820/40/33853/46089/642e6231F30b6b4f9/3730bf41e01c3541.jpg' border='0' alt='网站运维技术与实践' style='max-width:100%;height:auto;' onerror="this.onerror=null;this.style.display='none';this.parentNode.insertBefore(document.createTextNode('网站运维技术与实践'),this);"/></a></li>
            <li><a href='https://www.epubit.com/bookDetails?id=N8491' target='_blank' rel='noopener'><img src='https://cdn.ptpress.cn/pubcloud/bookImg/null/20240619466ED5A7.jpg' border='0' alt='Puppet 实战手册' style='max-width:100%;height:auto;' onerror="this.onerror=null;this.style.display='none';this.parentNode.insertBefore(document.createTextNode('Puppet 实战手册'),this);"/></a></li>
            <li><a href='https://e.jd.com/30343269.html?ebook=1' target='_blank' rel='noopener'><img src='https://img14.360buyimg.com/n0/jfs/t17233/278/1700201762/316981/b72e1e32/5ad5c152N135187a0.jpg' border='0' alt='ELK Stack权威指南' style='max-width:100%;height:auto;' onerror="this.onerror=null;this.style.display='none';this.parentNode.insertBefore(document.createTextNode('ELK Stack权威指南'),this);"/></a></li>
            <li><a href='https://item.jd.com/13793325.html' target='_blank' rel='noopener'><img src='https://img10.360buyimg.com/n1/jfs/t1/124385/27/39984/62708/64ab5de8F0e37da82/f3a88f3939831e07.jpg' border='0' alt='ChatGPT速通手册' style='max-width:100%;height:auto;' onerror="this.onerror=null;this.style.display='none';this.parentNode.insertBefore(document.createTextNode('ChatGPT速通手册'),this);"/></a></li>
          </ul>
        </div>
      </div>
    </div> <!-- row -->
      <footer>
        <p>&copy; {{ site.author.name }} 2024 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>
    </div> <!-- /container -->
    {% include JB/analytics %}
  </body>
</html>
